- var title = "Abi Hafshin Alfarouq"
- var description = "Portofolio Abi Hafshin Alfarouq"
- var baseUrl = "http://hafs.in"
- var sections_id = ["siapa-abi", "keahlian", "produk", "hubungi"];
- var sections_title = ["Siapa Abi?", "Keahlian", "Produk", "Hubungi Abi"];

mixin docSection(id, t)
  section.section.hentry(id=sections_id[id])
    .header
      h2.entry-title= t
      .nav
        if id == 0
          span.action.prev.disabled
        else
          a.open.action.prev(href='#'+sections_id[id-1])
        if id == 3
          span.action.next.disabled
        else
          a.open.action.next(href='#'+sections_id[id+1])
        a.close.action.home(href='.')
    .content
      block

mixin menuItem(i, className, t)
  li.menu
    a(href='#'+sections_id[i], title=t, class="open "+className)
      span= t

doctype html
html.no-js
  head(prefix="og: http://ogp.me/ns#", lang="id")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title= title
    link(rel="shortcut icon", href="/favicon.png", type="image/png")
    link(rel="apple-touch-icon", href="/apple-touch-icon-precomposed.png", type="image/png")

    meta(name="description", content=description)
    link(rel="canonical", href=baseUrl+"/id/")
    link(rel="author", href="/humans.txt", type="text/plain")
    link(rel="author", href="http://plus.google.com/+AbiHafshin")

    //- facebook open graph
    meta(property="og:type", content="website")
    meta(property="og:site_name", content="Abi Hafshin Alfarouq")
    meta(property="og:title", content=title)
    meta(property="og:description", content=description)
    meta(property="og:locale", content="id_ID")
    meta(property="og:url", content=baseUrl+"/id/")
    meta(property="og:image", content=baseUrl+"/img/frog-blue-framed.png")
    meta(property="og:image:type", content="image/png")

    //- twitter card
    meta(name="twitter:card", content="summary")
    meta(name="twitter:title", content=title)
    meta(name="twitter:description", content=description)
    meta(name="twitter:author", content="@abiehaf")
    meta(name="twitter:image", content="http://hafs.in/img/frog-blue-framed.png")

    //- show loading
    style #[include css/loader.css]
    script.
      !function(d,c,h){h=d.getElementsByTagName('html')[0];h[c]=h[c].replace('no-js','')+' loading'}(document,'className');
    | <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  body.red

    #loader
      .loader-inner
        #dot
        #s1.step
        #s2.step
        #s3.step

    .container.vcard
      header#header
        .img
          span
        h1
          span.name.fn Abi Hafshin Alfarouq

      nav#nav
        p.hidden Contents:
        ul#main-menu
          li
            a.who-am-i.open(href='#'+sections_id[0], title='Siapa Abi Hafshin?')
              span Siapa Abi?
          li
            a.what-can-i-do.open(href='#'+sections_id[1], title='Apa yang biasa Abi lakukan?')
              span Keahlian
          li
            a.my-works.open(href='#'+sections_id[2], title='Proyek yang pernah dan sedang abi kerjakan')
              span Produk
          li
            a.contact-me.open(href='#'+sections_id[3], title='Hubungi Abi')
              span Hubungi Saya

      //- ---------------- SECTIONS -------------------

      //- WHO IS ABI
      +docSection(0, "Siapa Abi?")
        include _partial/siapa-abi

      +docSection(1, "Keahilan")
        include _partial/keahlian


      +docSection(2, "Produk Dan Pengalaman")
        include _partial/produk

      +docSection(3, "Hubungi Abi")
        include _partial/hubungi

      //- ---------------------------------------------
      //- ----------------- FOOTER --------------------
      //- ---------------------------------------------
      hr.hidden
      footer#footer
        p.
          (c) 2014 Abi Hafshin |
          Powered by #[a(href="http://nodejs.org", rel="powered") Node.JS] and other
          #[a(href="https://github.com/abiehaf/hafs.in") Open Source Software]

    noscript
      link(rel="stylesheet", href="css/main.css", type="text/css")
    script #[include js/load.min.js]
